/*
https://coolors.co/087e8b-ff5a5f-33312e-f5f5f5-ff9042
metallic seaweed: rgba(8, 126, 139, 1);
pastel red: rgba(255, 90, 95, 1);
jet: rgba(51, 49, 46, 1);
white smoke: rgba(245, 245, 245, 1);
mango tango: rgba(255, 144, 66, 1);*/


.container {
	background-image: url('background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.main-content {
	background-color: #33312e;
	margin-top: 250px;
	height: 200px;
}

.avatar {
	border: 1px solid black;
	width: 150px;
	height: 150px;
}
